<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Sharks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="light-blue">
        <div class="container">
        </div>
    </nav>
    <div>
        <div class="container">
            <h1>Want to Learn About NODEJS?</h1>
            <p>Are you ready to learn about nodeJS?</p>
            <br>
            <p><a class="btn btn-primary btn-lg waves-effect waves-light orange" href="https://nodejs.org/en/" role="button">Get Info</a>
            </p>
        </div>
    </div>
</body>

</html>